
<div class="card" style="width: 30rem;">
  <div class="card-body">
<form>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      class="form-control"
      id="email"
      formControlName="email"
      placeholder="Email"
    />
  </div>

  <br />

  <div class="form-group">
    <label for="password">Password</label>
    <input
      class="form-control"
      id="password"
      formControlName="password"
      placeholder="Password"
    />
  </div>

  <hr />

  <div class="row">
    <button type="submit" mat-raised-button color="primary" class="col-lg-2">login</button>

  </div>

</form>
</div>
</div>
