


<form [formGroup]="productForm" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group">
    <label for="productName">Product Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      formControlName="name"
      placeholder="Enter Category Name"
    />

  </div>
<br/>
  <div class="form-group">
    <label for="categoryID">Category ID</label>
    <input
      type="text"
      class="form-control"
      id="categoryID"
      formControlName="categoryID"
      placeholder="Enter Category Name"
    />

  </div>
  <br />
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      formControlName="description"
      placeholder="description"
    ></textarea>
  </div>
  <br />
  <!-- <div class="form-group">
    <label for="categoryActive">Active</label> &nbsp;
    <input  type="checkbox" id="categoryActive" formControlName="categoryActive" />
  </div> -->
  <hr />
  <div class="row">
    <button type="submit" mat-raised-button color="primary" class="col-lg-2">Save</button>
    <div class="col-lg-8"></div>
    <button type="button" mat-raised-button (click)="cancel.emit()" class="col-lg-2">Cancel</button>
  </div>
</form>
