<button mat-raised-button color="primary" (click)="this.removeSelectedClient();open(content)">New</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Active</th>
      <th scope="col">Created On</th>
      <th scope="col">Updated On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">

      <th scope="row">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Edit Product">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="select.emit(client);open(content);">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="select.emit(client); open(deleteContent)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        </th>
      <td > {{client.firstName}}</td>
      <td> {{client.lastName}}</td>
      <td> {{client.active}} </td>
      <td> {{client.createdOn|date:'MMMM dd, y'}} </td>
      <td> {{client.updatedOn|date:'MMMM dd, y'}} </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Client update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

<div class="col-lg-12"><app-client-edit  [client]="currentClient$ | async"
  (save)="onSave($event)"
  (cancel)="onCancel()"></app-client-edit></div>

</div>

</ng-template>




<ng-template #deleteContent let-modalClientDelete>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-product-title">Client Delete</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalClientDelete.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="col-lg-12">Are you sure you want to remove this Client?</div>
    <hr />

    <div class="row">
      <button
        type="button"
        mat-raised-button
        color="warn"
        class="col-lg-2"
        (click)="deleteClient(clientIDToDelete)"
      >
        Yes
      </button>
      <div class="col-lg-8"></div>
      <button
        type="button"
        mat-raised-button
        (click)="onCancel()"
        class="col-lg-2"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template>

