<!-- header -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">NGRX Store Admin</span>
</nav>
<hr />
<!-- body -->

{{loggedIn}}
<div class="row" >
  <div class='col-lg-2' *ngIf="loggedIn">
    <ul class="list-group">
      <a class="list-group-item" [routerLink]="['/dashboard']">Dashboard</a>

      <a class="list-group-item" [routerLink]="['/clients']">Client</a>

      <a class="list-group-item" [routerLink]="['/categories']">Category</a>

      <a class="list-group-item" [routerLink]="['/products']">Product</a>
      <a class="list-group-item" [routerLink]="['/orders']">Orders</a>
      <a class="list-group-item" [routerLink]="" (click)="logout()">logout</a>
    </ul>
  </div>
  <div class="col-lg-9">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- footer -->
