

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Active</th>
      <th scope="col">Created On</th>
      <th scope="col">Updated On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">

      <th scope="row">

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Edit Product">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="select.emit(category)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </th>
      <td > {{category.categoryName}}</td>
      <td> {{category.categoryDescription}}</td>
      <td> {{category.active}} </td>
      <td> {{category.createdOn|date:'MMMM dd, y'}} </td>
      <td> {{category.updatedOn|date:'MMMM dd, y'}} </td>
    </tr>
  </tbody>
</table>
